In [1]:
import pandas as pd
import numpy as np

### Colocando os dados 'brutos' da nota

In [2]:
Nota_fiscal = [1522,'exemplo de nome','endereco qualquer','cep','telefone','RJ',
               10403272,1,399.00,47.88,0,0,399.00,'25/07/2002','','empresa_transportadora',
               'peso_produto','venc_fatura','valordafatura','Doacao -658c8924 Josias Severino n 99137698 at. -rj 56450 cs -rj76047'
              ]

### Criando um modelo para armazenagem desses dados

In [3]:
Nota_fiscal= np.array(Nota_fiscal).reshape(1,20)

### Nome das colunas sao metadados

In [12]:
df = pd.DataFrame(Nota_fiscal,columns=['Id','Destinatario','Endereco','CEP','Fone',
                          'Uf','Codigo_produto','Qtd.','Valor unitario',
                          'Impostos','Valor_frete','Seguro','Valor_total_nota',
                          'Data_nota','data_saida','Transportador','Peso_transporte',
                          'Venc_fatura','Valor_fatura','Informacoes complementares'])

In [14]:
df.set_index('Id',drop=True,inplace=True)

In [15]:
df.head()

,Destinatario,Endereco,CEP,Fone,Uf,Codigo_produto,Qtd.,Valor unitario,Impostos,Valor_frete,Seguro,Valor_total_nota,Data_nota,data_saida,Transportador,Peso_transporte,Venc_fatura,Valor_fatura,Informacoes complementares
Id,,,,,,,,,,,,,,,,,,,
1522,exemplo de nome,endereco qualquer,cep,telefone,RJ,10403272,1,399.0,47.88,0,0,399.0,25/07/2002,,empresa_transportadora,peso_produto,venc_fatura,valordafatura,Doacao -658c8924 Josias Severino n 99137698 at...

In [16]:
from IPython.display import HTML
s  = '<script type="text/Javascript">'
s += 'var win = window.open("", "Title", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=780, height=200, top="+(screen.height-400)+", left="+(screen.width-840));'
s += 'win.document.body.innerHTML = \'' + df.to_html().replace("\n",'\\') + '\';'
s += '</script>'

# Show in new Window
HTML(s)